@{
 Layout = "_Home";
}

@using TournamentOrganizerClient.Models
@model List<TournamentOrganizerClient.Models.Tournament>
  
<h1>Tournaments:</h1>
<hr>
@if (Model.Any())
{
  <ul>
    @foreach(Tournament tournament in Model)
      {
        <p>@Html.ActionLink($"{tournament.Name}", "Details", new { id = tournament.TournamentId })</p>
      }
  </ul>
}
else
{
  <h3>Sorry! There are no tournaments added yet.</h3>
}


<h3>@Html.ActionLink("Add a New Tournament", "Create") || @Html.ActionLink("Back to Home", "Index", "Home")</h3>