
@{
 Layout = "_Home";
}

<body>
  <div class="container-fluid"></div>
    <div class="wrapper">
      <div class="neon-wrapper">
        <span class="txt">Tournament </span>
        <span class="gradient"></span>
        <span class="dodge"></span>
      </div>
    </div>
    <div class="container">
      <div class="indexButtons" id="buttons">
        <a href="home.html" type="button" class="nes-btn is-primary" id="enter">ENTER SITE</a>
        <a href="../Accounts/Login" type="button" class="nes-btn is-primary" id="login">Login </a>
      </div>
    </div>
  </div>
</body>