@{
 Layout = "_Match";
}

<div class="container-fluid">
  <div class="wrapper">
    <div class="neon-wrapper">
      <span class="txt">Tournament </span>
      <span class="gradient"></span>
      <span class="dodge"></span>
    </div>
  </div>
</div>